html{
  background-color: #282c34;
  color: aliceblue;
}
.App {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  
}
 
 #welcome {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container {
  text-align: center;
  padding: 2rem 2rem;
  margin: Irem;
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
  .square{
  height: 200px;
  width: 200px;
  display: flex;
  border-radius: 25px;
  vertical-align: middle;
  }